@import '../../../@theme/styles/themes';

:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
    color: red;
  }
}

@include nb-install-component() {

  nb-card {
    overflow: hidden;

    img {
      width: 100%;
      max-height: 500px;
    }
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .details {
    padding: nb-theme(card-padding);
  }

  .description {
    text-align: justify;
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link-icon {
    font-size: 1.75rem;
  }

  nb-icon {
    font-size: 1.55rem;

    ::ng-deep svg {
      vertical-align: top;
    }
  }
}