<nb-card style="width: 600px">
  <nb-card-header>Profile <h4>{{ data['Name'] }}</h4> </nb-card-header>
  <nb-card-body>
    <div class="row">
      <nb-list>
        <nb-list-item> <span>Director</span> : {{ data['Director'] }} </nb-list-item>
        <nb-list-item> <span>Gender</span> : {{ data['Gender'] }} </nb-list-item>
        <nb-list-item> <span>Language</span> : {{ data['Language'] }} </nb-list-item>
        <nb-list-item> <span>Style</span> : {{ data['Style'] }} </nb-list-item>
        <nb-list-item> <span>Year</span> : {{ data['Year'] }} </nb-list-item>
        <nb-list-item> <span>Community_Score</span> : {{ data['Community_Score'] }} </nb-list-item>
        <nb-list-item> <span>MetaScore</span> : {{ data['MetaScore'] }} </nb-list-item>
        <nb-list-item> <span>Popularity</span> : {{ data['Popularity'] }} </nb-list-item>
        <nb-list-item> <span>Favorite</span> : {{ data['Favorite'] }} </nb-list-item>
        <nb-list-item> <span>IMDB</span> : {{ data['IMDB'] }} </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Close</button>
  </nb-card-footer>
</nb-card>
