<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Search - Gender
        <!-- <nb-icon class="action-icon" icon="refresh-outline" (click)="clear()"
        style="margin-left: 30px;"></nb-icon> -->
      </nb-card-header>
      <nb-card-body>
        <form class="form-inline">

          <div class="f">
            <span>Gender</span>
            <nb-select selected="Action" [selected]="currentGender" (selectedChange)="changeGender($event)" xfullWidth>
              <nb-option value="Action">Action</nb-option>
              <nb-option value="Adventure">Adventure</nb-option>
              <nb-option value="Science fiction">Science fiction</nb-option>
              <nb-option value="Comedy">Comedy</nb-option>
              <nb-option value="Crime">Crime</nb-option>
              <nb-option value="Musicals">Musicals</nb-option>
              <nb-option value="Romance">Romance</nb-option>
              <nb-option value="Suspense">Suspense</nb-option>
              <nb-option value="Terror">Terror</nb-option>
            </nb-select>
          </div>

          <div class="f">
            <span>IMDB</span>
            <input id="IMDB" #IMDB type="number" min="0" max="35" nbInput fullWidth placeholder="IMDB">
          </div>

          <div class="f">
            <span>MetaScore</span>
            <input id="MetaScore" #MetaScore type="number" min="0" max="35" nbInput fullWidth placeholder="MetaScore">
          </div>

          <div class="f">
            <span>Community_Score</span>
            <input id="Community_Score" #Community_Score type="number" min="0" max="35" nbInput fullWidth
              placeholder="Community_Score">
          </div>

          <div class="f">
            <span>Favorite</span>
            <nb-select selected="Action" [selected]="currentFavorite" (selectedChange)="changeFavorite($event)"
              fullWidth>
              <nb-option value="1">True</nb-option>
              <nb-option value="0">False</nb-option>
            </nb-select>
          </div>

          <div class="f">
            <span>Popularity</span>
            <input id="Popularity" #Popularity type="number" min="0" max="35" nbInput fullWidth
              placeholder="Popularity">
          </div>

          <nb-actions size="medium" style="margin-top: 20px;">
            <nb-action style="padding: 0 !important; margin-top: 15px; margin-right: 10px;"
              (click)="searchGender(IMDB.value, MetaScore.value, Community_Score.value, Popularity.value)"
              style="cursor: pointer;">
              <nb-icon class="action-icon" icon="search-outline"></nb-icon>
              <span>Search</span>
            </nb-action>
            <nb-action style="padding: 0 !important;" (click)="clear()">
              <nb-icon class="action-icon" icon="trash-outline" style=" margin-left: 10px;"></nb-icon>
              <span>Clear</span>
            </nb-action>
          </nb-actions>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="container" *ngIf="showAlertMovie">
  <div class="row justify-content-md-center ">
    <nb-alert outline="warning">It is not possible to execute this functionality</nb-alert>
  </div>
<!--   <div class="row justify-content-md-center ">
    <nb-icon class="action-icon" icon="trash-outline" (click)="clear()"></nb-icon>
  </div> -->
</div>

<div class="container" *ngIf="$Movies.length  == 0 && !showAlertMovie">
  <div class="row justify-content-md-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="step-content row">
  <div class="col-md-12 col-lg-2 col-xxxl-2" *ngFor="let movie of $Movies">

    <nb-card size="medium">
      <div class="picture"><img class="image" src="{{movie.Image}}" alt="Italian Trulli"></div>

      <div *ngIf="showColors">
        <div *ngIf="movie.Avarage >= 80"
          style="width: 100%; height: 10px; background-color: rgb(115, 167, 31); position: relative; z-index: 2;"></div>
        <div *ngIf="movie.Avarage >= 40 && movie.Avarage < 80"
          style="width: 100%; height: 10px; background-color: rgb(255, 230, 0); position: relative; z-index: 2;"></div>
        <div *ngIf="movie.Avarage >= 0 && movie.Avarage < 40"
          style="width: 100%; height: 10px; background-color: rgb(230, 83, 46); position: relative; z-index: 2;"></div>
      </div>

      <div class="details">
        <div class="h4"> {{ movie.Name }} </div>
      </div>

      <nb-card-footer>
        <div style="display: flex; align-items: center; cursor: pointer; color: #3366ff;"
          (click)="showModalReview(movie.ID, movie.Name)">
          <nb-icon icon="file-text-outline" pack="eva"></nb-icon>
          Review
        </div>
        <div style="display: flex; align-items: center; cursor: pointer; color: #3366ff;" (click)="open(movie)">
          <nb-icon icon="film-outline" pack="eva"></nb-icon>
          Profile
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>