<nb-card>
  <nb-card-header>Review - {{name}} </nb-card-header>
  <nb-card-body>
    <input #comment nbInput placeholder="Comment" style="max-width: 100% !important;">
    <input #note nbInput placeholder="Note" style="margin-top: 5px; max-width: 100% !important;">
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(comment.value, note.value)">Submit</button>
  </nb-card-footer>
</nb-card>